#*#
*.Makefile
*.a
*.exe
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.pdb
*.pyc
*.scons*
*.sdf
*.sln
*.so
*.suo
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*~
.#*
.*.sw?
.ccls-cache
.clangd
.cpplint-cache
.cproject
.gclient_entries
.gdb_history
.landmines
.project
.pydevproject
.settings
.torquelint-cache
.vscode
/_*
